<div id="clear-background">
    <!--<h1>ENVIAR NOVO ANIMAL PARA A LISTA</h1>-->

    <form>
        <div class="form-group">
            <input type="text" 
                id="animalName" 
                name="animalName" 
                class="form-control-plaintext"
                placeholder="Nome do animal" 
                data-ng-model="vm.name" />
        </div>
        <div class="form-group">
            <input type="file" 
                id="imageUpload" 
                name="imageUpload" 
                class="form-control"
                file-input="vm.file" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" data-ng-click="vm.upload()">Enviar</button>
        </div>
    </form>

    <table class="table-light table table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Tipo</th>
              <th scope="col">Icone</th>
              <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="animal in vm.animais">
                <td scope="row">{{ animal.id }}</td>
                <td>{{ animal.nome }}</td>
                <td>{{ animal.tipo }}</td>
                <td>
                    <img class="img-fluid img-thumbnail" 
                        data-ng-src="http://localhost:8080/admin/{{ animal.id }}" />
                </td>
                <td><a data-ng-click="vm.remover(animal.id)"><i class="bi bi-trash">X</i></a></td>
            </tr>
        </tbody>
    </table>

</div>
